.attendance-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
}

/* --- ページタイトル --- */
.attendance-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: rgb(31 41 55);
    position: relative;
    display: block;
    margin-bottom: 24px;
    padding-left: 1rem;
    align-self: flex-start;
    width: 85%;
}

/*タイトルの前の縦棒*/
.attendance-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background-color: #374151;
}

.month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 85%;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 24px;
}

.month-nav-link {
    font-size: 18px;
    color: rgb(110, 110, 111);
    text-decoration: none;
    font-weight: 600;
}

.month-nav-link:hover {
    color: rgb(29 78 216);
}

.current-month-display {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(55 65 81);
}

.calendar-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.attendance-table-wrapper {
    width: 85%;
    overflow-x: auto;
    border-radius: 8px;
}

/* 画面幅に応じたテーブルの幅調整 */
@media (max-width: 850px) and(min-width: 768px) {
    .attendance-table-wrapper {
        width: 83.333333%;
        /* w-5/6 */
    }
}

@media (max-width: 1540px) and(min-width: 1400px) {
    .attendance-table-wrapper {
        width: 80%;
        /* w-4/5 */
    }
}

.attendance-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
}

.table-header {
    padding: 0.75rem 1.25rem;
    /* py-3 px-5 */
    text-align: center;
    font-size: 0.75rem;
    /* 12px */
    font-weight: 600;
    /* semibold */
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: white;
    color: #6b6c6d;
    border-bottom: 2px solid #e5e7eb;
}

.table-cell {
    padding: 0.3rem 1.25rem;
    /* px-5 py-5 */
    font-size: 14px;
    color: #6b6c6d;
    font-weight: 400;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.cell-text {
    white-space: nowrap;
    color: #6b6c6d;
    font-weight: 600;
}

.attendance-table thead th:first-child {
    border-top-left-radius: 0.5rem;
    /* 8px */
}

.attendance-table thead th:last-child {
    border-top-right-radius: 0.5rem;
    /* 8px */
}

.attendance-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
    /* 8px */
}

.attendance-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
    /* 8px */
}

/* 最後の行の下線を削除 */
.attendance-table tbody tr:last-child td {
    border-bottom-width: 0;
}

.disabled-link {
    color: #aaa;
    /* 文字色を灰色に */
    text-decoration: none;
    /* 下線を消す */
}

.csv-export-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.csv-export-button:hover {
    background-color: #333333;
}
