.detail-container {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media (max-width: 850px) and(min-width: 768px) {
    .detail-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1540px) and(min-width: 1400px) {
    .detail-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.detail-header {
    font-size: 28px;
    font-weight: bold;
    color: #1f2937;
    text-align: left;
    margin-bottom: 2.5rem;
    position: relative;
    display: block;
    padding-left: 1rem;
}

/*タイトルの前の縦棒*/
.detail-header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background-color: black;
}

.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.alert-success {
    background-color: #c6f6d5;
    color: #22543d;
    border-color: #9ae6b4;
}

.alert-danger {
    background-color: #fed7d7;
    color: #822727;
    border-color: #feb2b2;
}

.detail-form,
.readonly-wrapper {
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table th,
.detail-table td {
    padding: 20px 8px;
    border-bottom: 2px solid #e5e7eb;
    vertical-align: middle;
}

.detail-table tr th:first-child,
.detail-table tr td:first-child{
    padding-left: 40px;
}

.detail-table tr td:last-child{
    padding-right: 40px;
}

.detail-table tr:last-child th,
.detail-table tr:last-child td {
    border-bottom: none;
}

.detail-table th {
    width: 35%;
    text-align: left;
    font-weight: bold;
    color: #4b5563;
}

.detail-table td {
    text-align: left;
    font-weight: bold;
    color: #4b5563;
}

.detail-table input[type="time"],
.remarks-textarea {
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 5px 28px;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.15s, border-color 0.15s;
    text-align: center;
}

.detail-table input[type="time"]:focus,
.remarks-textarea:focus {
    outline: none;
    border-color: #b4cffc;
    box-shadow: 0 0 0 3px rgb(59 130 246 / 0.3);
    background-color: #ffffff;
}

/* 時間の間の「〜」 */
.time-separator {
    margin: 0 40px;
    font-weight: bold;
    color: #4b5563;
}

.remarks-textarea {
    width: 100%;
    max-width: 350px;
    min-height: 80px;
    resize: none;
}

.form__error {
    display: block;
    margin-bottom: 5px;
    color: red;
}

.form-actions {
    margin-top: 32px;
    text-align: right;
}

.submit-button {
    background-color: #111827;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 3rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #374151;
}

.button-approved {
    background-color: #6b7280;
    cursor: not-allowed;
}

.detail-table input[type="time"]::-webkit-calendar-picker-indicator,
.detail-table input[type="time"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.action-wrapper {
    display: flex;
    justify-content: flex-end;
}

.pending-message {
    color: red;
}