.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
}

.request-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background-color: #374151;
}

.filter-nav__link.active {
    font-weight: bold;
    text-decoration: underline;
    color: #007bff;
}

.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 4px;
}

.month-navigation a,
.month-navigation span {
    margin: 0 15px;
    font-size: 1.2em;
    color: #337ab7;
    text-decoration: none;
}

.month-navigation .current-month {
    font-weight: bold;
    cursor: pointer;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.request-table th,
.request-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.request-table th {
    background-color: #f2f2f2;
}